@import "tailwindcss";

:root {
  --background: #fafaf9;
  --foreground: #1c1917;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}
